* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}
	.title {
      text-align: center;
      font-family: Arial, sans-serif;
      margin-top: 50px;
    }
    .title h1 {
      font-size: 26px;
      margin: 0;
    }
    .title h2 {
      font-size: 9px;
      margin: 5px 0 0 0;
      color: #555;
    }
    .title h3 {
      font-size: 9px;
      margin: 5px 0 0 0;
      color: #555;
    }

.available { fill: #2ecc71 !important; } /* green */
.sold      { fill: #e74c3c !important; } /* red */
.reserved  { fill: #f1c40f !important; } /* yellow */

/* Your other .stX classes go here */
/* st1-RL */
.st0 {
  fill: #3498db;
  stroke: #dbd7d9;
  stroke-width: 2;
  transition: all 0.3s ease;
}

.st0:hover {
  fill: #424542;
  stroke: #424542;
  cursor: pointer;
}

    .fil1 { fill:#999229; }
    .fil0 { fill:#CCCCCC; }
	.st0{fill:#dbd7d9;}
	.st1{fill:#628B3D;}
	.st2{fill:#FECC89;}
	.st3{fill:#FFFFFF;}
	.st4{clip-path:url(#SVGID_2_);}
	.st5{fill:none;stroke:#010101;stroke-linecap:round;stroke-miterlimit:10;}
	.st6{fill:none;stroke:#000000;stroke-miterlimit:10;}
	.st7{fill:none;stroke:#000000;stroke-linecap:round;stroke-miterlimit:10;}
	.st8{fill:#628B3D;stroke:#000000;stroke-linecap:round;stroke-miterlimit:10;}
	.st9{fill:none;stroke:#010101;stroke-miterlimit:10;}
	.st10{font-family:'Arial-BoldMT';}
	.st11{font-size:8px;}
/* Add other .stX classes here */

